/*need an override here so inverted vertical menu works OK in black*/
.ui.vertical.tabular.menu .active.item {

    background: transparent !important;
    border-right: 2px solid white !important;

}
.ui.vertical.inverted.tabular.menu .active.item {

    border-right: 2px solid black !important;

}

.ui.vertical.inverted.menu .item.disabled, .ui.vertical.inverted.menu .item.disabled:hover {
    color: dimgrey !important;
}